body {background-color: darkslategrey;
color: lightgrey;}

nav.flex-container {
    display: flex;
    justify-content: space-evenly;
    /*flex-direction: column;*/
    }
#menu-buttons {
    padding-bottom: 25px;
    }

p#lorem {
    width: 80%;
}
